.achievments-list {
  .list-style-none();
  display: flex;
  flex-direction: column;
}

.achievments-list__item {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: @desktop-width) {
  .achievments-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    width: 820px;
    min-height: 122px;
    /*временно для сетки*/
    outline: 2px solid violet;
  }

  .achievments-list:nth-child(2n) {
    padding-left: 30px;
    padding-right: 30px;
  }

  .achievments-list__item {
    display: block;
    margin: 0;
    padding: 0;
    min-height: 40px;
    /*временно для сетки*/
    outline: 2px solid blue;
  }
}
