.advantages__text {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 50px;
  margin-right: 60px;
  text-align: center;
  font-size: 24px;
  line-height: normal;
  font-weight: 300;
  color: #283645;
}

.advantages__list {
  .list-style-none();
}

.advantages__list-wrapper {
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  min-height: 320px;
  background-color: #f2f2f2;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  min-height: 99px;
  margin: 0;
  margin-right: 34px;
  text-align: center;
  /*временно для сетки*/
  outline: 2px solid red;
}

.advantages__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
}

.advantages__image {
  display: block;
  margin-left: 82px;
}

@media (min-width: @tablet-width) {
  .advantages__list-wrapper {
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    min-height: 547px;
    /*временно для сетки*/
    outline: 2px solid red;
  }

  .advantages__list {
    width: 300px;
    margin-left: auto;
    /*временно для сетки*/
    outline: 2px solid red;
  }
}
