/*.best-photo {
  display: block;
  margin-left: auto;
  padding: 0;
  margin-right: 20px;
  width: 140px;
  height: 36px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #d22856;
  /*временно для сетки
  outline: 2px solid red;
}*/

/*@media (min-width: @tablet-width) {  /positon absolute
  .best-photo {
    display: block;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    width: 141px;
    min-height: 37px;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    margin-left: auto;
    margin-top: 60px;
    margin-right: 20px;
    color: #ffffff;
    background-color: #d22856;
    /*временно для сетки
    outline: 2px solid red;
  }
}*/

@media (min-width: @tablet-width) {
  .best-photo {
    margin: 0;
    padding: 0;
  }
}
