.container {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  outline: 1px solid #283645;
}

.container__content {
  width: 276px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .container {
    width: 660px;
  }

  .container__content {
    width: 616px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 1200px;
    min-height: 110px;
  }

  .container__content {
    width: 960px;
  }
}
