.contest {
  background-color: #ffffff;
}

.contest__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  //flex-direction: column-reverse;
}

/*.contest__item-wrapper {
  width: auto;
  min-height: 350px;
  margin: 0;
  padding: 0;
  /*временно для сетки
  outline: 2px solid black;
}*/

.contest__item {
  display: block;
  margin: 0;
  padding: 0;
}

.contest__item:nth-child(1) {
  order: 0;
}

.contest__item:nth-child(2) {
  order: 0;
}

.contest__item:nth-child(3) {
  order: 0;
}

.contest__item:nth-child(4) {
  order: 0;
}

.contest__item:nth-child(5) {
  order: 0;
}

.contest__page-photo {
  margin: 0;
  padding: 0;
  background-image: url("../img/bg-back-mobile@1x.jpg");
}

.contest__title-wrapper {
  display: block;
  width: auto;
  min-height: 172px;
  margin: 0;
  padding: 0;
  background-color: #283645;
  /*временно для сетки*/
  outline: 2px solid green;
}

.contest__title {
  display: block;
  text-align: center;
  min-height: 170px;
  margin: 0 auto;
  padding: 0;
  //padding-left: 46px;
  //padding-right: 46px;
  padding-top: 36px;
  //padding-bottom: 57px;
  /*временно для сетки*/
  outline: 2px solid red;
}

.contest__description-wrapper {
  display: block;
  width: auto;
  min-height: 178px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  /*временно для сетки*/
  outline: 2px solid green;
}

.contest__description {
  display: block;
  width: 275px;
  min-height: 76px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  //padding-left: 25px;
  //padding-right: 25px;
  padding-top: 50px;
  //padding-bottom: 79px;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .contest__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    //flex-direction: column-reverse;
  }

  .contest__item {
    display: block;
    margin: 0;
    padding: 0;
  }

  .contest__item:nth-child(1) {
    order: -1;
  }

  .contest__item:nth-child(2) {
    order: 2;
  }

  .contest__item:nth-child(3) {
    order: 1;
  }

  .contest__item:nth-child(4) {
    order: 0;
  }

  .contest__item:nth-child(5) {
    order: 3;
  }

  .contest__title-wrapper {
    display: block;
    width: auto;
    min-height: 330px;
    margin: 0;
    padding: 0;
    background-color: #283645;
    /*временно для сетки*/
    outline: 2px solid green;
  }

  .contest__title {
    display: block;
    font-size: 50px;
    font-weight: 300;
    line-height: normal;
    min-height: 330px;
    margin: 0 auto;
    padding: 0;
    //padding-left: 95px;
    //padding-right: 95px;
    padding-top: 63px;
    //padding-bottom: 79px;
    /*временно для сетки*/
    outline: 2px solid red;
  }

  .contest__description-wrapper {
    display: block;
    width: auto;
    min-height: 255px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    /*временно для сетки*/
    outline: 2px solid green;
  }

  .contest__description {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 492px;
    min-height: 253px;
    //padding-left: 86px;
    //padding-right: 86px;
    padding-top: 100px;
    //padding-bottom: 76px;
  }
}

@media (min-width: @desktop-width) {
  .contest__item-wrapper {
    width: auto;
    min-height: 350px;
    margin: 0;
    padding: 0;
    /*временно для сетки*/
    outline: 2px solid black;
  }

  .contest__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    //flex-direction: column-reverse;
  }

  .contest__item {
    display: block;
    margin: 0;
    padding: 0;
  }

  .contest__item:nth-child(1) {
    order: -1;
  }

  .contest__item:nth-child(2) {
    order: 2;
  }

  .contest__item:nth-child(3) {
    order: 1;
  }

  .contest__item:nth-child(4) {
    order: 0;
  }

  .contest__item:nth-child(5) {
    order: 3;
  }

  .contest__title-wrapper {
    display: block;
    width: auto;
    min-height: 286px;
    background-color: #283645;
    /*временно для сетки*/
    outline: 2px solid green;
  }

  .contest__title {
    display: block;
    //width: 745px;
    min-height: 111px;
    margin: 0 auto;
    padding: 0;
    font-size: 50px;
    font-weight: 300;
    line-height: normal;
    text-align: none;
    //padding-left: 95px;
    //padding-right: 95px;
    padding-top: 60px;
    padding-bottom: 90px;
    /*временно для сетки*/
    outline: 2px solid red;
  }

  .contest__description-wrapper {
    display: block;
    width: auto;
    min-height: 230px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    /*временно для сетки*/
    outline: 2px solid green;
  }

  .contest__description {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 760px;
    min-height: 49px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    //padding-left: 86px;
    //padding-right: 86px;
    padding-top: 90px;
    //padding-bottom: 76px;
    /*временно для сетки*/
    outline: 2px solid green;
  }
}
