.container {
  //width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.container__wrapper {
  width: 100%;
  min-height: 10px;
  margin: 0 auto;
}

.container__content {
  width: 276px;
  margin: 0 auto;
  padding: 0;
  outline: 2px solid blue;
}

.container__content-main {
  width: 276px;
}

@media (min-width: @tablet-width) {
  .container {
    //width: 660px;
    width: 100%;
  }

  .container__wrapper {
    width: 100%;
    min-height: 110px;
    margin: 0 auto;
  }

  .container__content {
    width: 616px;
    margin: 0 auto;
  }

  .container__content-main {
    width: auto;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 100%;
  }

  .container__wrapper {
    width: 100%;
    min-height: 110px;
    margin: 0 auto;
  }

  .container__wrapper-form {
    width: 1200px;
    margin: 0 auto;
  }

  .container__content {
    width: 960px;
  }

  .container__content-main {
    width: 960px;
  }
}
