.contest {
  background-color: #ffffff;
}

.contest__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}

.contest__item-wrapper {
  width: auto;
  min-height: 350px;
  margin: 0;
  padding: 0;
}

.contest__item {
  display: block;
  margin: 0;
  padding: 0;
}

.contest__item:nth-child(1) {
  order: 0;
}

.contest__item:nth-child(2) {
  order: 0;
}

.contest__item:nth-child(3) {
  order: 0;
}

.contest__item:nth-child(4) {
  order: 0;
}

.contest__item:nth-child(5) {
  order: 0;
}

.contest__page-photo {
  margin: 0;
  padding: 0;
}

.contest__background-wrapper {
  display: block;
  min-height: 171px;
  margin: 0;
  padding: 0;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -65px;
  background-size: 100% 462px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 100% auto;
  }
}

.contest__title-wrapper {
  display: block;
  width: auto;
  min-height: 172px;
  margin: 0;
  padding: 0;
  background-color: #283645;
}

.contest__title {
  display: block;
  text-align: center;
  min-height: 170px;
  width: 226px;
  margin: 0 auto;
  padding: 0;
  padding-top: 32px;
}

.contest__description-wrapper {
  display: block;
  width: auto;
  min-height: 172px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.contest__description {
  display: block;
  width: 275px;
  min-height: 76px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  padding-top: 50px;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .contest__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
  }

  .contest__item {
    display: block;
    margin: 0;
    padding: 0;
  }

  .contest__item:nth-child(1) {
    order: -1;
  }

  .contest__item:nth-child(2) {
    order: 2;
  }

  .contest__item:nth-child(3) {
    order: 1;
  }

  .contest__item:nth-child(4) {
    order: 0;
  }

  .contest__item:nth-child(5) {
    order: 3;
  }

  .contest__title-wrapper {
    display: block;
    width: auto;
    min-height: 330px;
    margin: 0;
    padding: 0;
  }

  .contest__background-wrapper {
    display: block;
    min-height: 330px;
    margin: 0;
    padding: 0;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -110px;
    background-size: auto 729px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: auto 729px;
    }
  }

  .contest__title {
    display: block;
    font-size: 50px;
    font-weight: 300;
    line-height: normal;
    min-height: 330px;
    width: 470px;
    margin: 0 auto;
    padding: 0;
    padding-top: 68px;
  }

  .contest__description-wrapper {
    display: block;
    width: auto;
    min-height: 253px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }

  .contest__description {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 492px;
    min-height: 253px;
    padding-top: 90px;
  }
}

@media (min-width: @desktop-width) {
  .contest__item-wrapper {
    width: auto;
    min-height: 350px;
    margin: 0;
    padding: 0;
  }

  .contest__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
  }

  .contest__item {
    display: block;
  }

  .contest__item:nth-child(1) {
    order: -1;
    margin-left: 14px;
  }

  .contest__item:nth-child(2) {
    order: 2;
    margin: 0 auto;
  }

  .contest__item:nth-child(3) {
    order: 1;
    margin: 0 auto;
  }

  .contest__item:nth-child(4) {
    order: 0;
  }

  .contest__item:nth-child(5) {
    order: 3;
    margin: 0 auto;
  }

  .contest__title-wrapper {
    display: block;
    width: auto;
    min-height: 286px;
    padding: 0;
    margin: 0;
  }

  .contest__background-wrapper {
    display: block;
    min-height: 393px;
    margin: 0;
    padding: 0;
    padding-top: 109px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-position: top;
      background-size: auto 853px;
    }
  }

  .contest__title {
    display: flex;
    width: 760px;
    min-height: 111px;
    margin: 0 auto;
    padding: 0;
    text-align: none;
    padding-top: 65px;
    padding-bottom: 100px;
  }

  .contest__description-wrapper {
    display: block;
    width: auto;
    min-height: 230px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }

  .contest__description {
    margin: 0 auto;
    padding: 0;
    width: 760px;
    min-height: 49px;
    padding-top: 95px;
  }
}
