.data__h1-title-style-main {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: none;
  color: #ffffff;
}

.data__description-main {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-transform: none;
  color: #ffffff;
}

.data__advantages-text {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #283645;
}

.data__advantages-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.data__advantages-description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
}

.data__reviews-author {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.data__reviews-content {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

.data__filter-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.data__filter-price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
}

.data__hit {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.data__filter-value {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #283645;
}

.data__contacts-text {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #283645;
}

.data__contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #283645;
}

.data__contacts-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #d22856;
}

.data__download {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.data__likes {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #d22856;
}

.data__nav {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.data__h1-title-style {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: none;
  color: #ffffff;
}

.data__description {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

.data__button-post {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: none;
  //color: #d22856;
}

.data__copyright {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: none;
  color: #283645;
}

.data__personal-label {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #d22856;
}

.data__label-form {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
  color: #283645;
}

.data__personal-input {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
  color: #283645;

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-transform: none;
    color: #283645;
  }
}

.data__field {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  padding-top: 37px;
}

.data__mark {
  color: #d22856;
}

.data__fill-form {
  display: none;
}

.data__to-fill {
  display: none;
}

.data__popup-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: none;
}

.data__popup-message {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
  text-transform: none;
}

.data__popup-button {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .data__h1-title-style-main {
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    text-transform: none;
  }

  .data__description-main {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    text-transform: none;
    color: #ffffff;
  }

  .data__advantages-text {
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    color: #283645;
  }

  .data__timer-full {
    font-size: 96px;
    line-height: 149.5px;
    font-weight: 700;
    color: #d22856;
    padding-top: 8px;
  }

  .data__research-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
  }

  .data__research-description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #283645;
  }

  .data__research-more-link {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #d22856;
    text-decoration: underline;
  }

  .data__reviews-author {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
  }

  .data__reviews-about-author {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
  }

  .data__reviews-content {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
  }

  .data__filter-title {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }

  .data__filter-price {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
  }

  .data__filter-value {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: none;
    color: #283645;
  }

  .data__contacts-text {
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    color: #283645;
  }

  .data__copyright {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    color: #283645;
  }

  .data__download {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
  }

  .data__time {
    font-size: 12px;
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
  }

  .data__likes {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #d22856;
  }

  .data__nav {
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }

  .data__h1-title-style {
    font-size: 50px;
    line-height: normal;
    font-weight: 300;
    text-transform: none;
  }

  .data__description {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
  }

  .data__button-post {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: none;
  }

  .data__personal-label {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #d22856;
  }

  .data__label-form {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-transform: none;
    color: #283645;
  }

  .data__personal-input {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-transform: none;
    color: #283645;
  }

  .data__field {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
    text-transform: uppercase;
    margin: 0;
    margin-left: auto;
    padding: 0;
    padding-top: 17px;
  }

  .data__mark {
    color: #d22856;
  }

  .data__to-fill {
    display: none;
  }

  .data__fill-form {
    display: block;
  }

  .data__popup-title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: #000000;
    text-transform: none;
  }

  .data__popup-message {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #283645;
    text-transform: none;
  }

  .data__popup-button {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
  }
}

@media (min-width: @desktop-width) {
  .data__h1-title-style-main {
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
    text-transform: none;
  }

  .data__description-main {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    text-transform: none;
    color: #ffffff;
  }

  .data__advantages-text {
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
    color: #283645;
  }

  .data__advantages-title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
  }

  .data__advantages-description {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
  }

  .data__timer-full {
    font-size: 120px;
    line-height: 187px;
    font-weight: 700;
    color: #d22856;
    padding-top: 8px;
  }

  .data__research-title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
  }

  .data__research-description {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
  }

  .data__research-more-link {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #d22856;
    text-decoration: underline;
  }

  .data__reviews-author {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
  }

  .data__reviews-about-author {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
  }

  .data__reviews-content {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
  }

  .data__filter-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }

  .data__filter-price {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
  }

  .data__filter-value {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-transform: none;
    color: #283645;
  }

  .data__contacts-text {
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
    color: #283645;
  }

  .data__copyright {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    color: #283645;
  }

  .data__download {
    font-size: 21px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
  }

  .data__time {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
  }

  .data__likes {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: #d22856;
  }

  .data__nav {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
  }

  .data__h1-title-style {
    font-size: 50px;
    line-height: auto;
    font-weight: 300;
    text-transform: none;
  }

  .data__description {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-transform: none;
    color: #283645;
  }

  .data__button-post {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: none;
  }

  .data__personal-label {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #d22856;
  }

  .data__personal-input {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-transform: none;
    color: #283645;
  }

  .data__label-form {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-transform: none;
    color: #283645;
  }

  .data__label {
    display: block;
    padding-top: 4px;
  }

  .data__field {
    display: flex;
    margin: 0;
    margin-left: auto;
    width: 308px;
    min-height: 20px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    /*временно для сетки*/
    //outline: 2px solid greenyellow;
  }

  .data__mark {
    color: #d22856;
  }

  .data__to-fill {
    display: block;
  }

  .data__fill-form {
    display: block;
  }
}
