.data {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

.data__label {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #d22856;
}

.data__input {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

@media (min-width: @desktop-width) {
  .data {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .data__label-form {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-transform: none;
    color: #283645;
  }
}
