.filter__wrapper {
  display: block;
  padding-top: 90px;
  /*text-align: center;*/
  width: 320px;
  min-height: 475px;
  background-color: #f2f2f2;
  /*временно для сетки*/
  outline: 2px solid yellowgreen;
}

.filter__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.filter__price {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
}

.filter__list {
  margin: 0;
  margin-top: 1px;
  width: 1120px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #283645;
  border: 2px solid #e5e5e5;
  border-collapse: collapse;
  min-height: 220px;
}

.filter__table {
  padding-top: 18px;
  padding-bottom: 21px;
  width: 276px;
  background-color: #283645;
  border: 2px solid #e5e5e5;
}

.filter__value {
  text-align: left;
  padding-top: 12px;
  padding-bottom: 16px;
  padding-left: 18px;
  border: 2px solid #e5e5e5;
}

.filter__hit {
  font-size: 10px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.filter__value--pink {
  font-size: 0;
}

.filter__value--smiles {
  font-size: 0;
}

.filter__value--comments {
  font-size: 0;
}

@media (min-width: @tablet-width) {
  .filter__wrapper {
    display: block;
    /*text-align: center;*/
    width: 660px;
    min-height: 380px;
    background-color: #f2f2f2;
    /*временно для сетки*/
    outline: 2px solid yellowgreen;
  }

  .filter__list {
    display: block;
    text-align: center;
    width: 617px;
    min-height: 220px;
    margin: 0 auto;
    padding: 0;
    padding-top: 88px;
  }

  .filter__table {
    padding: 0;
    margin: 0;
    padding-top: 18px;
    //padding-bottom: 21px;
    width: 155px;
    min-height: 80px;
  }

  .filter__title {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
  }

  .filter__price {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
  }

  .filter__value {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-transform: none;
    text-align: left;
    height: 46px;
    padding: 0;
    //padding-top: 12px;
    //padding-bottom: 16px;
    padding-left: 18px;
    border: 2px solid #e5e5e5;
  }

  .filter__value--pink {
    font-size: 0;
  }

  .filter__value--smiles {
    font-size: 0;
  }

  .filter__value--comments {
    font-size: 0;
  }

  .filter__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .filter__wrapper {
    display: block;
    width: 1200px;
    min-height: 534px;
    background-color: #f2f2f2;
    /*временно для сетки*/
    outline: 2px solid yellowgreen;
  }

  .filter__list {
    display: block;
    text-align: center;
    width: 940px;
    padding-top: 159px;
  }

  .filter__toggles {
    display: none;
  }
}
