.filter {
  display: block;
  text-align: center;
}

.filter__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.filter__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #ffffff;
}

.filter__list {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #283645;
}

.filter__table {
  display: block;
  text-align: center;
  width: 276px;
  height: 94px;
  background-color: #283645;
}

.filter__value {
  display: block;
  margin-top: 24px;
  margin-left: 22px;
}

.filter__hit {
  font-size: 10px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
