@media (min-width: @tablet-width) {
  .form-contacts {
    display: flex;
    flex-direction: column-reverse;

    margin: 0;
    padding: 0;
    /*временно для сетки*/
    outline: 2px solid greenyellow;
  }

  .form-contacts__input {
    display: block;
    width: 496px;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    min-height: 59px;
    /*временно для сетки*/
    outline: 2px solid greenyellow;
  }
}
