.form__personal-data {
  //display: flex;
  //flex-direction: column;
  display: block;
  min-height: 362px;
  margin: 0;
  padding: 0;
  /*временно для сетки*/
  //outline: 2px solid yellowgreen;
}

.form__personal-wrapper {
  display: block;
  width: auto;
  margin: 0;
  padding: 0;
  //padding-top: 57px;
  min-height: 370px;
  /*временно для сетки*/
  //outline: 3px solid rgb(134, 73, 73);
}

.form__achievments-wrapper {
  display: block;
  width: auto;
  margin: 0;
  padding: 0;
  min-height: 604px;
  /*временно для сетки*/
  //outline: 3px solid red;
}

.form__user-achievments {
  display: block;
  min-height: 604px;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  background-color: #f2f2f2;
}

.form__your-achievments-title {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  padding-top: 36px;
  width: 222px;
  //position: relative;
  //width: 436px;
  min-height: 38px;
  //top: -10px;
  //left: 30px;
  //background-color: #ffffff;
}

.form__user-app {
  background-color: #f2f2f2;
  min-height: 340px;
  margin: 0;
  padding: 0;
}


.form__user-app-wrapper {
  display: block;
  //width: 620px;
  min-height: 340px;
  margin: 0;
  //margin-left: 66px;
  //margin-left: 68px;
  padding: 0;
  padding-top: 36px;
  /*временно для сетки*/
  //outline: 2px solid black;
}

.form__contacts-wrapper {
  display: block;
  width: auto;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  min-height: 290px;
  /*временно для сетки*/
  //outline: 3px solid blueviolet;
}

.form__content {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 0;
  /*временно для сетки*/
  //outline: 2px solid yellowgreen;
}

.form__contacts-title {
  margin: 0;
  padding: 0;
  display: none;
}

.form__emotions-wrapper {
  display: block;
  width: auto;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  min-height: 320px;
  /*временно для сетки*/
  //outline: 3px solid red;
}

.form__emotions-title {
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .form__content {
    display: block;
    margin: 0 auto;
    padding: 0;
    //padding-top: 34px;
    width: 620px;
    /*временно для сетки*/
    //outline: 2px solid black;
  }

  .form__personal-data {
    display: block;
    min-height: 358px;
    margin: 0;
    padding: 0;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .form__personal-wrapper {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    //padding-top: 57px;
    min-height: 340px;
    /*временно для сетки*/
    //outline: 3px solid rgb(134, 73, 73);
  }

  .form__contacts-wrapper {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    //padding-top: 38px;
    min-height: 375px;
    /*временно для сетки*/
    //outline: 3px solid blueviolet;
  }

  .form__contacts-border {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    //margin-top: 30px;
    min-height: 309px;
    border: 2px solid #e5e5e5;
    /*временно для сетки*/
    //outline: 3px solid blue;
  }

  .form__achievments-wrapper {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    min-height: 620px;
    /*временно для сетки*/
    //outline: 3px solid red;
  }

  .form__achievments-border {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    margin-top: 65px;
    min-height: 554px;
    /*временно для сетки*/
    //outline: 3px solid blue;
  }

  .form__emotions-wrapper {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    min-height: 358px;
    /*временно для сетки*/
    //outline: 3px solid red;
  }

  .form__emotions-border {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    //margin-top: 20px;
    min-height: 294px;
    /*временно для сетки*/
    //outline: 3px solid blue;
  }

  .form__user-app {
    background-color: transparent;
    margin: 0;
    padding: 0;
  }

  .form__user-app-wrapper {
    display: block;
    //width: 620px;
    min-height: 365px;
    margin: 0;
    //margin-left: 66px;
    //margin-left: 68px;
    padding: 0;
    /*временно для сетки*/
    //outline: 2px solid black;
  }

  .form__user-app-border {
    display: block;
    //width: auto;
    width: 620px;
    margin: 0;
    padding: 0;
    //padding-top: 10px;
    //margin-top: 20px;
    min-height: 300px;
    /*временно для сетки*/
    //outline: 3px solid blue;
  }

  /*.form__user-contacts {
    display: block;
    margin: 0;
    padding: 0;
    padding-left: 60px;
    padding-right: 60px;
    min-height: 306px;
    /*временно для сетки
    outline: 2px solid greenyellow;
  }*/

  .form__user-achievments {
    display: block;
    margin: 0;
    padding: 0;
    min-height: 554px;
    background-color: transparent;
    /*временно для сетки*/
    //outline: 2px solid greenyellow;
  }

  .form__your-achievments-title {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    position: relative;
    width: 436px;
    min-height: 38px;
    top: -10px;
    //left: 30px;
    background-color: #ffffff;
  }

  /*.form__user-emotions {
    display: block;
    margin: 0;
    padding: 0;
    min-height: 269px;
    /*временно для сетки
    outline: 2px solid greenyellow;
  }*/

  .form__submit-form {
    display: flex;
    margin: 0;
    padding: 0;
    //padding-top: 25px;
    min-height: 59px;
    /*временно для сетки*/
    //outline: 2px solid greenyellow;
  }

  .form__contacts-title {
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
    width: 260px;
    min-height: 38px;
    top: -10px;
    //left: 30px;
    background-color: #ffffff;
  }

  .form__emotions-title {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    position: relative;
    width: 260px;
    min-height: 38px;
    top: -20px;
    //left: 30px;
    background-color: #ffffff;
  }
}

@media (min-width: @desktop-width) {
  .form__personal-data {
    display: block;
    min-height: 292px;
    margin: 0;
    padding: 0;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .form__personal-wrapper {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    //padding-top: 57px;
    min-height: 365px;
    /*временно для сетки*/
    //outline: 3px solid rgb(134, 73, 73);
  }

  .form__user-app {
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  /*.form__content-wrapper {
    display: block;
    width: auto;
    min-height: 300px;
    margin: 0;
    padding: 0;
    /*временно для сетки
    outline: 2px solid black;
  }*/

  .form__content {
    display: block;
    width: 936px;
    min-height: 158px;
    margin: 0 auto;
    padding: 0;
    /*временно для сетки*/
    //outline: 2px solid black;
  }

  .form__user-achievments {
    display: block;
    margin: 0;
    padding: 0;
    min-height: 228px;
    background-color: transparent;
    /*временно для сетки*/
    //outline: 2px solid greenyellow;
  }

  /*.form__user-emotions {
    display: block;
    margin: 0;
    padding: 0;
    min-height: 213px;
    /*временно для сетки
    outline: 2px solid greenyellow;
  }*/

  .form__submit-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    //padding-top: 67px;
    min-height: 59px;
    /*временно для сетки*/
    //outline: 2px solid greenyellow;
  }

  .form__user-app-wrapper {
    display: block;
    width: 435px;
    min-height: 360px;
    margin: 0;
    margin-left: 66px;
    //margin-left: 68px;
    padding: 0;
    /*временно для сетки*/
    //outline: 2px solid black;
  }

  .form__user-app-border {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    //padding-top: 10px;
    //margin-top: 20px;
    min-height: 300px;
    /*временно для сетки*/
    //outline: 3px solid blue;
  }

  .form__contacts-wrapper {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    //padding-top: 57px;
    min-height: 225px;
    /*временно для сетки*/
    //outline: 3px solid red;
  }

  .form__contacts-border {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    min-height: 160px;
    border: 2px solid #e5e5e5;
    /*временно для сетки*/
    //outline: 3px solid blue;
  }

  .form__contacts-title {
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
    width: 260px;
    min-height: 38px;
    top: -10px;
    //left: 30px;
    background-color: #ffffff;
  }

  .form__achievments-wrapper {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    min-height: 297px;
    /*временно для сетки*/
    //outline: 3px solid red;
  }

  .form__achievments-border {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    //margin-top: 20px;
    min-height: 232px;
    /*временно для сетки*/
    //outline: 3px solid blue;
  }

  .form__your-achievments-title {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    position: relative;
    width: 436px;
    min-height: 38px;
    top: -10px;
    //left: 30px;
    background-color: #ffffff;
  }

  .form__emotions-title {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    position: relative;
    width: 260px;
    min-height: 38px;
    top: -20px;
    //left: 30px;
    background-color: #ffffff;
  }

  .form__emotions-wrapper {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    min-height: 282px;
    /*временно для сетки*/
    //outline: 3px solid red;
  }

  .form__emotions-border {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    //margin-top: 20px;
    min-height: 215px;
    /*временно для сетки*/
    //outline: 3px solid blue;
  }
}
