.main-nav {
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  /*временно для сетки*/
   outline: 2px solid black;
}

.main-nav__list {
  .list-style-none();
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 320px;
  min-height: 256px;
  /*временно для сетки*/
  outline: 2px solid red;
}

.main-nav a {
  color: #ffffff;
}

