.main-nav {
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  /*временно для сетки*/
  outline: 2px solid black;
}

.main-nav__list {
  .list-style-none();
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 320px;
  /*min-height: 256px;*/
  /*временно для сетки*/
  outline: 2px solid red;
}

.main-nav a {
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
  }

  .main-nav__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 660px;
    //width: auto;
    margin: 0 auto;
    min-height: 256px;
  }

  .main-nav__link {
    //display: flex;
    //justify-content: space-between;
    display: flex;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    min-height: 63px;
    margin: 0;
    padding: 0;
    padding-top: 18px;
    //padding-bottom: 24px;
    //padding-left: 40px;
    //padding-right: 36px;
    background-color: black;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: auto;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    color: #ffffff;
    /*временно для сетки*/
    outline: 2px solid black;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //width: 660px;
    width: auto;
    margin: 0 auto;
    min-height: 110px;
  }

  .main-nav__link {
    //display: flex;
    //text-align: center;
    //justify-content: space-between;
    display: block;
    font-size: 18px;
    line-height: 18px;
    font-weight: 300;
    min-height: 16px;
    margin: 0;
    padding: 0;
    padding-top: 45px;
    padding-bottom: 48px;
    padding-left: 40px;
    //padding-right: 40px;
    //justify-content: center;
    //align-items: center;
    //text-align: center;
    //min-height: 110px;
    //margin-left: -3px;
    background-color: red;
  }

  /*.nav-list__item {
    margin: 0;
    padding: 0;
    //padding-top: 45px;
    /*padding-bottom: 28px;
    padding-left: 41px;
    padding-right: 41px;
  }*/

  .main-nav__nav-index {
    display: block;
    //width: 129px;
    //padding-left: 40px;
    padding-right: 45px;
  }

  .main-nav__nav-photo {
    display: block;
    //width: 112px;
    //padding-left: 40px;
    padding-right: 45px;
  }

  .main-nav__nav-form {
    display: block;
    //width: 73px;
    //padding-left: 40px;
    padding-right: 40px;
  }

  .main-nav__nav-academy {
    display: block;
    //width: 132px;
    //padding-left: 40px;
    padding-right: 15px;
  }
}
