.main-promo {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #1d2631;
  background-position: bottom 275px right 1px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 397px auto;
  }
}

.main-promo__page-photo-hand {
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom 275px right 63px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 287px 255px;
  }
}

.main-promo__wrapper {
  min-height: 664px;
  margin: 0;
  padding: 0;
}

.main-promo__wrapper-background {
  display: block;
  margin: 0;
  padding: 0;
  min-height: 400px;
}

.main-promo__slogan {
  display: block;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 27px;
  text-align: center;
}

.main-promo__download-wrapper {
  display: block;
  width: 281px;
  height: 55px;
  margin-top: 28px;
}

.main-promo__download {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  display: block;
  width: 276px;
  height: 55px;
  border: 3px solid #ffffff;
  border-radius: 50px;
  padding-top: 15px;
  padding-left: 40px;

  &:hover {
    color: #d22856;
    background-color: #ffffff;
  }

  &:focus {
    color: #d22856;
    background-color: #ffffff;
  }

  &:active {
    background-color: #ffffff;
    color: rgba(210, 40, 86, 0.3);
  }
}

.main-promo__list {
  .list-style-none();
  position: relative;
  margin-top: 40px;
  min-height: 47px;
}

.main-promo__icon-list-item--apple {
  position: absolute;
  top: -10px;
  left: 35px;
  width: 47px;
  height: 50px;
}

.main-promo__icon-list-item--android {
  position: absolute;
  top: -3px;
  left: 117px;
  width: 44px;
  height: 47px;
}

.main-promo__icon-list-item--microsoft {
  position: absolute;
  top: 1px;
  left: 197px;
  width: 44px;
  height: 47px;
}

.main-promo__description {
  display: block;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 35px;
  min-height: 47px;
}

@media (min-width: @tablet-width) {
  .main-promo {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 618px auto;
    }
  }

  .main-promo__page-photo-hand {
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: bottom left -20px;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 547px 471px;
    }
  }

  .main-promo__wrapper {
    width: 300px;
    min-height: 619px;
    padding-top: 36px;
  }

  .main-promo__wrapper-background {
    min-height: 230px;
  }

  .main-promo__slogan {
    display: block;
    width: 190px;
    min-height: 128px;
    margin: 0 auto;
    padding: 0;
    padding-top: 55px;
    font-size: 40px;
    line-height: normal;
    font-weight: 300;
  }

  .main-promo__download-wrapper {
    width: 300px;
    margin: 0;
  }

  .main-promo__download {
    width: 300px;
    padding-top: 15px;
    padding-left: 44px;
  }

  .main-promo__list {
    .list-style-none();
    position: relative;
    min-height: 60px;
    margin-top: 42px;
    height: 47px;
  }

  .main-promo__icon-list-item--apple {
    position: absolute;
    top: 5px;
    left: 47px;
    width: 47px;
    height: 50px;
  }

  .main-promo__icon-list-item--android {
    position: absolute;
    top: 10px;
    left: 130px;
    width: 44px;
    height: 47px;
  }

  .main-promo__icon-list-item--microsoft {
    position: absolute;
    top: 16px;
    left: 210px;
    width: 44px;
    height: 47px;
  }

  .main-promo__description {
    display: block;
    padding: 0;
    margin: 0;
    margin-top: 38px;
    padding-left: 1px;
    min-height: 47px;
  }
}

@media (min-width: @desktop-width) {
  .main-promo {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 850px;
    padding-top: 109px;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-size: 853px auto;
  }

  .main-promo__page-photo-hand {
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: bottom right 5px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 648px 558px;
    }
  }

  .main-promo__wrapper {
    min-height: 740px;
    margin: 0;
    padding: 0;
    padding-left: 12px;
  }

  .main-promo__slogan {
    display: flex;
    width: 234px;
    min-height: 130px;
    margin: 0 auto;
    padding: 0;
    padding-top: 107px;
    padding-bottom: 15px;
  }

  .main-promo__download-wrapper {
    width: 300px;
    margin: 0;
    padding: 0;
  }

  .main-promo__download {
    display: block;
    margin: 0;
    margin-top: 40px;
    padding: 0;
    padding-top: 12px;
    padding-left: 30px;
  }

  .main-promo__list {
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: 64px;
  }

  .main-promo__icon-list-item--apple {
    position: absolute;
    top: 1px;
    left: 47px;
    width: 47px;
    height: 50px;
  }

  .main-promo__icon-list-item--android {
    position: absolute;
    top: 10px;
    left: 127px;
    width: 44px;
    height: 47px;
  }

  .main-promo__icon-list-item--microsoft {
    position: absolute;
    top: 10px;
    left: 207px;
    width: 44px;
    height: 47px;
  }

  .main-promo__description {
    padding: 0;
    margin: 0;
    margin-top: 53px;
    padding-left: 2px;
    text-align: center;
  }
}
