@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensansbold.woff2') format('woff2'),
  url('../fonts/opensansbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

.main-nav {
  font-family: 'OpenSans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;

  /*временно*/
  background-color: burlywood;

}

.main-nav__list {
  list-style: none;
}

.main-nav a {
  text-decoration: none;
  color: #ffffff;
}
