.page-footer-index {
  display: none;
}

.page-footer__list {
  .list-style-none();
  display: flex;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 285px;
  /*временно для сетки*/
  outline: 2px solid red;
}

@media (min-width: @tablet-width) {
  .page-footer-index {
    display: block;
    background-color: #ffffff;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    max-height: 127px;
    /*временно для сетки*/
    outline: 2px solid red;
  }
}

@media (min-width: @desktop-width) {
  .page-footer-index {
    display: block;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    max-height: 224px;
    /*временно для сетки*/
    outline: 2px solid red;
  }
}
