.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: #283645;
  /*временно для сетки*/
  height: 70px;
  outline: 2px solid red;
}

.page-header__logo-image {
  /*временно для сетки*/
  outline: 2px solid red;
}
