.contacts__text {
  font-size: 24px;
  line-height: normal;
  font-weight: 300;
  color: #283645;
}

.contacts__title {
  font-size: 18px;
  line-height: normal;
  font-weight: 700;
  color: #283645;
}

.contacts__link {
  font-size: 24px;
  line-height: normal;
  font-weight: 300;
  color: #d22856;
}

.copyright__text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: #283645;
}

.page-footer__list {
  .list-style-none();
}
