.page-header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: #283645;
  /*временно для сетки*/
  height: 70px;
  outline: 2px solid red;
}

.page-header__logo-image {
  /*временно для сетки*/
  outline: 2px solid red;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 40px;
  }

  .page-header__logo-wrapper {
    min-height: 109px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    /*временно для сетки*/
    outline: 2px solid white;
  }

  .page-header__logo {
    height: 40px;
  }

  .page-header__logo-wrapper {
    min-height: 109px;
    /*временно для сетки*/
    outline: 2px solid greenyellow;
  }

  .page-header__toggle {
    display: none;
  }
}
