.personal__data-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 327px;
}

.personal__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80px;
}

.personal__label {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  padding-left: 22px;
}

.personal__input {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 64px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid #e5e5e5;

  &:hover {
    border: 2px solid #283645;
  }

  &:focus {
    border: 2px solid #d22856;
    outline: none;
  }

  &:active {
    border: 2px solid #d22856;
  }
}

@media (min-width: @tablet-width) {
  .personal__data-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 292px;
  }

  .personal__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 60px;
  }

  .personal__input {
    display: block;
    width: 100%;
    min-height: 64px;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .personal__label {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 18px;
    padding-right: 20px;
  }
}

@media (min-width: @desktop-width) {
  .personal__data-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-top: 7px;
    width: 434px;
    min-height: 297px;
  }

  .personal__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 60px;
    margin: 0;
    padding: 0;
  }

  .personal__input {
    display: block;
    width: 100%;
    min-height: 59px;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .personal__label {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-right: 18px;
  }
}
