.photo-list__photo-best-container {
  position: relative;
  margin: 0;
  padding: 0;
}

.photo-list__item {
  display: flex;
  flex-direction: column;
  width: 278px;
  min-height: 300px;
  //min-height: 325px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: left;
  background-color: #f2f2f2;
  /*временно для сетки*/
  outline: 2px solid red;
}

.photo-list__wrapper {
  width: 282px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  min-height: 1952px;
  /*временно для сетки*/
  outline: 2px solid pink;
}

@media (min-width: @tablet-width) {
  .photo-list__photo-best-container {
    position: relative;
    margin: 0;
    padding: 0;
  }

  .photo-list__item {
    display: block;
    margin: 0;
    padding: 0;
    width: 300px;
    min-height: 455px;
    margin-bottom: 20px;
  }

  .photo-list__wrapper {
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;*/
    width: 620px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
    min-height: 1408px;
    /*временно для сетки*/
    outline: 2px solid pink;
  }
}

@media (min-width: @desktop-width) {
  .photo-list__photo-best-container {
    position: relative;
    margin: 0;
    padding: 0;
  }

  .photo-list__item {
    display: block;
    margin: 0;
    padding: 0;
    width: 300px;
    min-height: 555px;
    margin-bottom: 50px;
  }

  .photo-list__wrapper {
    //display: flex;
    //flex-direction: row;
    //flex-wrap: wrap;
    //justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
    min-height: 1166px;
    /*временно для сетки*/
    outline: 2px solid pink;
  }
}
