.photo__best-photo-wrapper {
  position: absolute;
  display: block;
  top: 1px;
  right: 18px;
  background-color: #d22856;
  width: 140px;
  height: 37px;
  padding: 0;
  padding-top: 3px;
  padding-left: 12px;
  margin: 0;
  text-align: center;
}

.photo__best-photo {
  /*position: absolute;
  display: block;
  top: 55px;
  right: 1px;*/
  display: block;
  min-height: 10px;
  width: 111px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  /*background-color: #d22856;
  width: 142px;
  height: 37px;*/
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  //margin-top: 57px;
  //margin-right: 130px;
  /*временно для сетки*/
  //outline: 2px solid red;
}

.photo__best-wrapper {
  display: block;
  position: relative;
  width: 282px;
  min-height: 186px;
  margin: 0 auto;
  padding: 0;
  //padding-left: 27px;
  background-color: #f2f2f2;
  /*временно для сетки*/
  //outline: 2px solid red;
}

.photo__best-container {
  //position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 38px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 20px;
  /*временно для сетки*/
  outline: 2px solid red;
}

.photo__best-likes {
  position: absolute;
  top: 140px;
  left: 50px;
  margin: 0;
  padding: 0;
}

.photo__panorama-img {
  display: block;
  margin: 0;
  padding: 0;
  height: 137px;
  //width: 100%;
}

.photo__image {
  height: 180px;
  margin: 0;
  padding: 0;
  /*временно для сетки*/
  //outline: 2px solid red;
}

.photo__link {
  display: block;
  //min-height: 138px;
  //width: 320px;
  //height: auto;
  //width: auto;
  margin: 0;
  padding: 0;
  //margin-top: -58px;
  /*временно для сетки*/
  //outline: 2px solid red;
}

.photo__text {
  //display: block;
  display: flex;
  flex-direction: column;
  width: auto;
  min-height: 120px;
  margin: 0;
  padding: 0;
  //padding-left: 27px;
  /*временно для сетки*/
  //outline: 2px solid black;
}

.photo__text-container {
  //position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  min-height: 37px;
  padding-top: 18px;
  padding-left: 15px;
  /*временно для сетки*/
  //outline: 2px solid blue;
}

.photo__author {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #283645;
}

.photo__time {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 3px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: #283645;
}

.photo__message {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
}

.photo__likes-container {
  display: block;
  margin: 0;
  padding: 0;
  width: 95px;
  min-height: 54px;
  padding-top: 10px;
  margin-left: 48px;
  /*временно для сетки*/
  //outline: 2px solid red;
}

.photo__likes {
  display: block;
  //position: absolute;
  //top: 92px;
  //left: 48px;
  margin: 0;
  padding: 0;
  //padding-top: 92px;
  /*font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #d22856;*/
}

@media (min-width: @tablet-width) {
  .photo__best-photo {
    display: block;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 141px;
    //min-height: 37px;
    padding: 0;
    //padding-top: 10px;
    margin: 0;
    margin-top: 60px;
    margin-right: 20px;
    color: #ffffff;
    background-color: #d22856;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .photo__best-photo-wrapper {
    position: absolute;
    display: block;
    top: 55px;
    right: 18px;
    background-color: #d22856;
    width: 140px;
    height: 37px;
    padding: 0;
    padding-top: 5px;
    margin: 0;
  }

  .photo__best-wrapper {
    display: block;
    //position: relative;
    width: 623px;
    min-height: 115px;
    margin: 0 auto;
    padding: 0;
    padding-left: 27px;
    /*временно для сетки*/
    outline: 2px solid red;
  }

  .photo__best-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 38px;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-left: 5px;
    /*временно для сетки*/
    outline: 2px solid black;
  }

  .photo__best-likes {
    position: absolute;
    display: block;
    top: 18px;
    left: 448px;
    margin: 0;
    padding: 0;
  }

  .photo__panorama-img {
    display: block;
    margin: 0;
    padding: 0;
    height: 509px;
    //width: 100%;
    //height: auto;
  }

  .photo__link {
    display: block;
    //min-height: 510px;
    //width: 660px;
    margin: 0;
    padding: 0;
    //height: 510px;
    //width: auto;
    //margin-top: -95px;
    /*временно для сетки*/
    outline: 2px solid red;
  }

  .photo__image {
    display: block;
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .photo__text {
    //display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    //width: 234px;
    min-height: 155px;
    margin: 0;
    padding: 0;
    padding-left: 12px;
    /*временно для сетки*/
    //outline: 2px solid blue;
  }

  .photo__text-container {
    //position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    //min-height: 95px;
    padding-top: 22px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .photo__author {
    margin: 0;
    padding: 0;
  }

  .photo__time {
    margin: 0;
    padding: 0;
    padding-left: 5px;
  }

  .photo__message {
    margin: 0;
    padding: 0;
  }

  .photo__likes-container {
    display: block;
    margin: 0;
    padding: 0;
    width: 100px;
    min-height: 54px;
    padding-top: 6px;
    margin-left: 16px;
    //margin-left: 48px;
    margin-right: auto;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .photo__likes {
    //position: absolute;
    //top: 105px;
    //left: 1px;
    margin: 0;
    padding: 0;
    //padding-top: 10px;
  }
}

@media (min-width: @desktop-width) {
  .photo__link {
    display: block;
    margin: 0;
    //width: auto;
    //height: auto;
    //margin-top: -92px;
    padding: 0;
    //min-height: 506px;
    //width: 1200px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .photo__panorama-img {
    display: block;
    margin: 0;
    padding: 0;
    height: 506px;
    //width: 100%;
  }

  .photo__best-photo-wrapper {
    position: absolute;
    display: block;
    top: 53px;
    right: 130px;
    background-color: #d22856;
    width: 140px;
    height: 37px;
    padding: 0;
    padding-top: 5px;
    padding-left: 18px;
    margin: 0;
  }

  .photo__best-photo {
    /*position: absolute;
    display: block;
    top: 55px;
    right: 1px;*/
    display: block;
    min-height: 10px;
    width: 102px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    /*background-color: #d22856;
    width: 142px;
    height: 37px;*/
    padding: 0;
    margin: 0;
    //margin-left: 10px;
    text-transform: uppercase;
    text-align: center;
    //margin-top: 57px;
    //margin-right: 130px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .photo__best-wrapper {
    display: block;
    //display: flex;
    //flex-wrap: wrap;
    width: 940px;
    min-height: 95px;
    margin: 0 auto;
    padding: 0;
    padding-left: 27px;
    /*временно для сетки*/
    outline: 2px solid red;
  }

  .photo__best-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 38px;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .photo__best-likes {
    position: absolute;
    display: block;
    top: 20px;
    left: 761px;
    margin: 0;
    padding: 0;
  }

  .photo__image {
    display: block;
    min-height: 400px;
    margin: 0;
    padding: 0;
    width: 300px;
    //height: 300px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .photo__text {
    //display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    min-height: 153px;
    margin: 0;
    padding: 0;
    padding-left: 27px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .photo__text-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 236px;
    //min-height: 95px;
    margin: 0;
    padding: 0;
    padding-top: 22px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .photo__author {
    margin: 0;
    padding: 0;
  }

  .photo__time {
    margin: 0;
    padding: 0;
    padding-left: 5px;
  }

  .photo__message {
    margin: 0;
    padding: 0;
  }

  .photo__likes-container {
    display: block;
    margin: 0;
    padding: 0;
    width: 100px;
    min-height: 54px;
    padding-top: 6px;
    //margin-left: 16px;
    //margin-left: 48px;
    margin-right: auto;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .photo__likes {
    /*position: absolute;
    top: 105px;
    left: 1px;*/
    margin: 0;
    padding: 0;
    //padding-top: 10px;
  }
}
