.photo__best-photo-wrapper {
  position: absolute;
  display: block;
  top: 1px;
  right: 18px;
  background-color: #d22856;
  width: 140px;
  height: 37px;
  padding: 0;
  padding-top: 3px;
  padding-left: 12px;
  margin: 0;
  text-align: center;
}

.photo__best-photo {
  display: block;
  min-height: 10px;
  width: 111px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.photo__best-wrapper {
  display: block;
  position: relative;
  width: 282px;
  min-height: 190px;
  margin: 0 auto;
  padding: 0;
  background-color: #f2f2f2;
}

.photo__best-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-height: 38px;
  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-left: 20px;
}

.photo__best-likes {
  position: absolute;
  top: 147px;
  left: 50px;
  margin: 0;
  padding: 0;
}

.photo__best-likes::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-heart.svg");
  display: block;
  top: 6px;
  left: -30px;
  width: 13px;
  height: 12px;
}

.photo__panorama-img {
  display: block;
  margin: 0;
  padding: 0;
  height: 137px;
}

.photo__image {
  height: 180px;
  margin: 0;
  padding: 0;
}

.photo__link {
  display: block;
  margin: 0;
  padding: 0;
}

.photo__text {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0;
  padding: 0;
  padding-top: 14px;
}

.photo__text-container {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  min-height: 37px;
  padding-left: 15px;
}

.photo__author {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #283645;
}

.photo__time {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 3px;
}

.photo__message {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
}

.photo__likes-container {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 100px;
  min-height: 54px;
  padding-top: 10px;
  margin-left: 48px;
}

.photo__likes {
  display: block;
  margin: 0;
  padding: 0;
}

.photo__likes::before {
  position: absolute;
  content: "";
  background-image: url("../img/icon-heart.svg");
  display: block;
  bottom: 26px;
  left: -30px;
  width: 13px;
  height: 12px;
}

@media (min-width: @tablet-width) {
  .photo__best-photo {
    display: block;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 141px;
    padding: 0;
    margin: 0;
    color: #ffffff;
  }

  .photo__best-photo-wrapper {
    position: absolute;
    display: block;
    top: 57px;
    right: 18px;
    background-color: #d22856;
    width: 140px;
    height: 36px;
    padding: 0;
    padding-top: 5px;
    margin: 0;
  }

  .photo__best-wrapper {
    display: block;
    width: 623px;
    min-height: 120px;
    margin: 0 auto;
    padding: 0;
    padding-top: 23px;
    padding-left: 25px;
  }

  .photo__best-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 38px;
    margin: 0;
    padding: 0;
    padding-left: 5px;
  }

  .photo__best-likes {
    position: absolute;
    display: block;
    top: 1px;
    left: 448px;
    margin: 0;
    padding: 0;
  }

  .photo__best-likes::before {
    position: absolute;
    display: block;
    top: 6px;
    left: 108px;
  }

  .photo__panorama-img {
    display: block;
    margin: 0;
    padding: 0;
    height: 509px;
  }

  .photo__link {
    display: block;
    margin: 0;
    padding: 0;
  }

  .photo__image {
    display: block;
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
  }

  .photo__text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    min-height: 155px;
    margin: 0;
    padding: 0;
    padding-left: 12px;
  }

  .photo__text-container {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    padding-top: 22px;
  }

  .photo__author {
    margin: 0;
    padding: 0;
  }

  .photo__time {
    margin: 0;
    padding: 0;
    padding-left: 5px;
  }

  .photo__message {
    margin: 0;
    padding: 0;
  }

  .photo__likes-container {
    position: static;
    display: block;
    margin: 0;
    padding: 0;
    width: 100px;
    min-height: 54px;
    padding-top: 6px;
    margin-left: 16px;
    margin-right: auto;
  }

  .photo__likes {
    margin: 0;
    padding: 0;
  }

  .photo__likes::before {
    position: absolute;
    display: block;
    bottom: 30px;
    left: 255px;
  }
}

@media (min-width: @desktop-width) {
  .photo__link {
    display: block;
    margin: 0;
    //width: auto;
    //height: auto;
    //margin-top: -92px;
    padding: 0;
    //min-height: 506px;
    //width: 1200px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .photo__panorama-img {
    display: block;
    margin: 0;
    padding: 0;
    height: 506px;
    //width: 100%;
  }

  .photo__best-photo-wrapper {
    position: absolute;
    display: block;
    top: 53px;
    right: 130px;
    background-color: #d22856;
    width: 140px;
    height: 37px;
    padding: 0;
    padding-top: 5px;
    padding-left: 18px;
    margin: 0;
  }

  .photo__best-photo {
    /*position: absolute;
    display: block;
    top: 55px;
    right: 1px;*/
    display: block;
    min-height: 10px;
    width: 102px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    /*background-color: #d22856;
    width: 142px;
    height: 37px;*/
    padding: 0;
    margin: 0;
    //margin-left: 10px;
    text-transform: uppercase;
    text-align: center;
    //margin-top: 57px;
    //margin-right: 130px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .photo__best-wrapper {
    display: block;
    //display: flex;
    //flex-wrap: wrap;
    width: 940px;
    min-height: 95px;
    margin: 0 auto;
    padding: 0;
    padding-left: 27px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .photo__best-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 38px;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .photo__best-likes {
    position: relative;
    //position: absolute;
    display: block;
    top: 20px;
    left: 761px;
    margin: 0;
    padding: 0;
  }

  .photo__best-likes::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-heart.svg");
    //display: block;
    top: 6px;
    right: -32px;
    width: 13px;
    height: 12px;
  }

  .photo__image {
    display: block;
    min-height: 400px;
    margin: 0;
    padding: 0;
    width: 300px;
    //height: 300px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .photo__text {
    //display: block;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    min-height: 153px;
    margin: 0;
    padding: 0;
    padding-left: 27px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .photo__text-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 236px;
    //min-height: 95px;
    margin: 0;
    padding: 0;
    padding-top: 22px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .photo__author {
    margin: 0;
    padding: 0;
  }

  .photo__time {
    margin: 0;
    padding: 0;
    padding-left: 5px;
  }

  .photo__message {
    margin: 0;
    padding: 0;
  }

  .photo__likes-container {
    display: block;
    margin: 0;
    padding: 0;
    width: 100px;
    min-height: 54px;
    padding-top: 6px;
    //margin-left: 16px;
    //margin-left: 48px;
    margin-right: auto;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .photo__likes {
    display: block;
    margin: 0;
    padding: 0;
  }

  .photo__likes::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-heart.svg");
    display: block;
    bottom: 30px;
    right: 30px;
    width: 13px;
    height: 12px;
  }
}
