.research {
  display: none;
}

@media (min-width: @tablet-width) {
  .research {
    display: block;
  }

  .research__wrapper {
    width: 300px;
    min-height: 182px;
    margin: 0;
    margin-left: auto;
    margin-right: 5px;
    padding: 0;
    outline: 2px solid red;
  }

  .research__title {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 55px;
    width: 169px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
  }

  .research__description {
    display: block;
    width: 296px;
    margin: 0;
    padding: 0;
    padding-top: 9px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #283645;
  }

  .research__more-link {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #d22856;
    text-decoration: underline;
  }
}

@media (min-width: @desktop-width) {
  .research {
    display: block;
    margin: 0;
    padding: 0;
  }

  .research__wrapper {
    padding: 0;
    padding-top: 95px;
    margin: 0;
    margin-left: auto;
    margin-right: 55px;
    //width: 525px;
    width: 530px;
    min-height: 470px;
    /*временно для сетки*/
    outline: 2px solid red;
  }

  .research__title {
    display: block;
    width: 300px;
    padding-bottom: 17px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
  }

  .research__description {
    display: block;
    padding-bottom: 20px;
    width: 528px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
  }

  .research__more-link {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #d22856;
    text-decoration: underline;
  }
}
