.reviews__wrapper {
  width: 280px;
  min-height: 310px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.reviews__message-wrapper {
  display: block;
  min-height: 210px;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.reviews__author {
  display: block;
  margin: 0;
  padding: 0;
}

.reviews__content {
  display: block;
  margin: 0;
  margin-top: 13px;
  padding: 0;
}

.reviews__about-author {
  display: none;
}

.reviews__arrow {
  display: none;
}

.reviews__toggles {
  position: relative;
  top: 30px;
  left: -3px;
}

.reviews__toggle {
  width: 6px;
  height: 6px;
  margin-left: 14px;
  padding: 0;
  vertical-align: middle;
  transform: translateX(-5px);
  background-color: #283645;
  opacity: 0.3;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &--active {
    background-color: #ffffff;
    opacity: 1;
    border: 3px solid #283645;
    width: 12px;
    height: 12px;
  }

  &:hover,
  &:focus {
    background-color: rgba(40, 54, 69, 0.6);
  }

  &:active {
    background-color: rgba(40, 54, 69, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    width: 620px;
    min-height: 280px;
    margin: 0;
    padding: 0;
  }

  .reviews__message-wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    margin-top: 100px;
    padding: 0;
    padding-top: 10px;
    width: 620px;
    min-height: 173px;
  }

  .reviews__author {
    display: block;
    min-height: 20px;
    margin: 0;
    margin-top: 35px;
    padding: 0;
  }

  .reviews__about-author {
    display: block;
    margin: 0;
    padding: 0;
  }

  .reviews__content {
    display: block;
    margin: 0;
    margin-top: 16px;
    padding: 0;
  }

  .reviews__arrow {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .reviews__wrapper {
    position: relative;
    width: 685px;
    min-height: 413px;
    margin: 0 auto;
    padding-top: 183px;
  }

  .reviews__wrapper::before {
    content: "";
    position: absolute;
    top: 70px;
    left: 305px;
    width: 85px;
    height: 65px;
    background: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
  }

  .reviews__author {
    display: block;
    text-align: center;
    width: 221px;
    min-height: 54px;
    margin: 0 auto;
  }

  .reviews__about-author {
    display: block;
    min-height: 10px;
    margin: 0;
    padding: 0;
  }

  .reviews__content {
    display: block;
    margin: 0;
    padding: 0;
    //padding-top: 3px;
    padding-right: 1px;
    text-align: center;
    width: 690px;
    min-height: 80px;
  }

  .reviews__message-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    width: 688px;
    min-height: 187px;
    margin: 0;
    padding: 0;
  }

  .reviews__arrow {
    display: block;
    fill: #caced1;

    &:hover {
      fill: #7e868f;
    }

    &:focus {
      fill: #7e868f;
    }

    &:active {
      fill: #e9ebec;
    }
  }

  .reviews__arrow-left {
    position: absolute;
    top: 212px;
    left: -128px;
  }

  .reviews__arrow-right {
    position: absolute;
    top: 212px;
    right: -128px;
  }

  .reviews__toggles {
    display: none;
  }
}
