.reviews__wrapper {
  width: 280px;
  min-height: 310px;
  margin: 0 auto;
  padding: 0;
  //padding-top: 193px;
  text-align: center;
  /*временно для сетки*/
  //outline: 2px solid red;
}

.reviews__message-wrapper {
  display: block;
  min-height: 210px;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  /*временно для сетки*/
  //outline: 2px solid yellowgreen;
}

.reviews__author {
  display: block;
  margin: 0;
  padding: 0;
}

.reviews__content {
  display: block;
  margin: 0;
  padding: 0;
}

.reviews__about-author {
  display: none;
}

.reviews__arrow {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    width: 620px;
    min-height: 250px;
    margin: 0;
    padding: 0;
    //margin: 0 auto;
    //padding-top: 193px;
    /*text-align: center;*/
    /*временно для сетки*/
    //outline: 2px solid yellowgreen;
  }

  .reviews__message-wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    margin-top: 100px;
    padding: 0;
    padding-top: 10px;
    width: 620px;
    min-height: 173px;
    /*временно для сетки*/
    //outline: 2px solid yellowgreen;
  }

  .reviews__author {
    display: block;
    margin: 0;
    padding: 0;
  }

  .reviews__about-author {
    display: block;
    margin: 0;
    padding: 0;
  }

  .reviews__content {
    display: block;
    margin: 0;
    padding: 0;
  }

  .reviews__arrow {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .reviews__wrapper {
    position: relative;
    width: 685px;
    min-height: 418px;
    margin: 0 auto;
    padding-top: 183px;
    /*text-align: center;*/
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .reviews__wrapper::before {
    content: "";
    position: absolute;
    top: 70px;
    left: 305px;
    width: 85px;
    height: 65px;
    background: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    /*временно для сетки*/
    //outline: 2px solid black;
  }

  .reviews__author {
    display: block;
    text-align: center;
    width: 221px;
    min-height: 54px;
    margin: 0 auto;
    /*временно для сетки*/
    //outline: 2px solid blue;
  }

  .reviews__about-author {
    display: block;
    margin: 0;
    padding: 0;
  }

  .reviews__content {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 3px;
    padding-right: 1px;
    text-align: center;
    width: 690px;
    min-height: 79px;
    /*временно для сетки*/
    //outline: 2px solid blue;
  }

  .reviews__message-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    width: 688px;
    min-height: 188px;
    margin: 0;
    padding: 0;
    /*временно для сетки*/
    //outline: 2px solid black;
  }

  .reviews__arrow {
    display: block;
    fill: #caced1;

    &:hover {
      fill: #7e868f;
    }

    &:focus {
      fill: #7e868f;
    }

    &:active {
      fill: #e9ebec;
    }
  }

  .reviews__arrow-left {
    position: absolute;
    top: 212px;
    left: -128px;
  }

  .reviews__arrow-right {
    position: absolute;
    top: 212px;
    right: -128px;
  }

  .rewiews__toggles {
    display: none;
  }
}
