@media (min-width: @desktop-width) {
  .page-footer-index {
    display: block;
  }

  /*.social__item {
    display: block;
    width: 180px;
    min-height: 53px;
    /*временно для сетки*
    outline: 2px solid red;
  }*/
}
