.users-photo__list {
  .list-style-none();
  display: block;
  margin: 0;
  padding: 0;
  /*временно для сетки*/
  outline: 2px solid red;
}

.users-photo {
  background-color: #ffffff;
}

.users-photo__page-photo {
  background-image: url("../img/bg-back-mobile@1x.jpg");
}

.users-photo__description {
  display: block;
  text-align: center;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 57px;
  padding-bottom: 57px;
  background-color: #ffffff;
  min-height: 184px;
  /*временно для сетки*/
  outline: 2px solid red;
}

.users-photo__title {
  display: block;
  text-align: center;
  padding-left: 76px;
  padding-right: 76px;
  padding-top: 40px;
  padding-bottom: 87px;
}

@media (min-width: @tablet-width) {
  .users-photo__title {
    padding-left: 156px;
    padding-right: 156px;
    padding-top: 81px;
    padding-bottom: 150px;
    /*временно для сетки*/
    outline: 2px solid red;
  }

  .users-photo__description {
    display: block;
    min-height: 228px;
    text-align: center;
    margin: 0;
    padding-left: 111px;
    padding-right: 111px;
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: #ffffff;
    /*временно для сетки*/
    outline: 2px solid red;
  }
}
