.user-application__text {
  text-align: center;
  margin: 0;
  padding: 0;
}

.user-application__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  min-height: 169px;
  margin: 0 auto;
  padding: 0;
  margin-top: 52px;
  outline: 2px solid violet;
}

@media (min-width: @tablet-width) {
  .user-application {
    display: block;
    min-height: 295px;
    /*временно для сетки*/
    outline: 2px solid red;
  }
}
