.users-photo {
  background-color: #ffffff;
}

.users-photo__list {
  .list-style-none();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 1932px;
  margin: 0;
  padding: 0;
}

.users-photo__page-photo {
  margin: 0;
  padding: 0;
}

.users-photo__title-background {
  display: block;
  width: auto;
  min-height: 171px;
  margin: 0;
  padding: 0;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -65px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 171px auto;
  }
}

.users-photo__title {
  display: block;
  text-align: center;
  width: 169px;
  min-height: 49px;
  margin: 0 auto;
  padding: 0;
  padding-top: 32px;
}

.users-photo__description-wrapper {
  display: block;
  width: auto;
  min-height: 186px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.users-photo__description {
  display: block;
  width: 245px;
  min-height: 74px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  padding-top: 50px;
}

@media (min-width: @tablet-width) {
  .users-photo__title-background {
    display: block;
    width: auto;
    min-height: 330px;
    margin: 0;
    padding: 0;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -110px;
    //background-color: #283645;
    /*временно для сетки*/
    //outline: 2px solid green;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("img/bg-back-tablet@2x.jpg");
      background-size: 330px auto;
    }
  }

  .users-photo__title {
    font-size: 50px;
    font-weight: 300;
    line-height: normal;
    display: block;
    width: 362px;
    min-height: 104px;
    margin: 0 auto;
    padding: 0;
    padding-top: 70px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .users-photo__description-wrapper {
    display: block;
    width: auto;
    min-height: 228px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    /*временно для сетки*/
    //outline: 2px solid green;
  }

  .users-photo__description {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    display: block;
    //width: 437px;
    width: 445px;
    min-height: 47px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    padding-top: 92px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .users-photo__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 1408px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  /*.users-photo__page-photo {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    margin: 0;
    padding: 0;
    min-height: 284px;
  }*/

  .users-photo__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 1168px;
    margin: 0;
    padding: 0;
  }

  .users-photo__title {
    display: block;
    width: 348px;
    margin: 0 auto;
    padding: 0;
    min-height: 99px;
    font-size: 50px;
    line-height: normal;
    font-weight: 300;
    /*padding-left: 296px;
    padding-right: 296px;*/
    padding-top: 60px;
    padding-bottom: 86px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .users-photo__title-background {
    display: block;
    min-height: 393px;
    margin: 0;
    padding: 0;
    padding-top: 109px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top;
    /*временно для сетки*/
    //outline: 2px solid red;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("img/bg-back-desktop@2x.jpg");
      background-size: 393px auto;
    }
  }

  .users-photo__description-wrapper {
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
    min-height: 238px;
    background-color: #ffffff;
    /*временно для сетки*/
    //outline: 2px solid green;
  }

  .users-photo__description {
    display: block;
    width: 580px;
    min-height: 48px;
    text-align: none;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin: 0 auto;
    padding: 0;
    /*padding-left: 186px;
    padding-right: 186px;*/
    padding-top: 88px;
    padding-bottom: 90px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }
}
