.user-application__title {
  text-align: center;
  margin: 0;
  padding: 0;
}

.user-application__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  min-height: 169px;
  margin: 0 auto;
  padding: 0;
  margin-top: 52px;
  /*временно для сетки*/
  //outline: 2px solid violet;
}

@media (min-width: @tablet-width) {
  .user-application {
    display: block;
    margin: 0;
    padding: 0;
    min-height: 300px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .user-application__title {
    display: block;
    position: relative;
    width: 368px;
    min-height: 38px;
    top: -10px;
    //left: 30px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0;
  }

  .user-application__list {
    display: flex;
    min-height: 176px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 90px;
    //margin-top: 22px;
  }
}

@media (min-width: @desktop-width) {
  .user-application__list {
    margin: 0 auto;
    padding: 0;
    margin-top: 22px;
  }

  .user-application__title {
    display: block;
    position: relative;
    width: 368px;
    min-height: 38px;
    top: -10px;
    //left: 30px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0;
  }
}
