.your-photo {
  background-color: #f2f2f2;
}

.your-photo__description {
  display: block;
  text-align: center;
}

.your-photo__image {
  display: block;
  margin: 0;
  margin-left: 18px;
  padding: 0;
}

.your-photo__button {
  display: block;
  width: 281px;
  height: 55px;
  margin-left: 20px;
  border: 3px solid #d22856;
  border-radius: 50px;
  color: #d22856;
}
