.your-photo__wrapper {
  display: block;
  width: 320px;
  min-height: 758px;
  background-color: #f2f2f2;
}

.your-photo__wrapper-container {
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 758px;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
  /*временно для сетки*/
  outline: 2px solid green;
}

.your-photo__button-wrapper {
  display: block;
  padding: 40px 0;
  /*временно для сетки*/
  outline: 2px solid red;
}

.your-photo__description {
  display: block;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 32px;
  padding-bottom: 52px;
}

.your-photo__image {
  display: block;
  margin: 0;
  padding: 0;
}

.your-photo__button {
  display: block;
  width: 281px;
  height: 55px;
  border: 3px solid #d22856;
  border-radius: 50px;
  color: #d22856;
}

@media (min-width: @tablet-width) {
  .your-photo__description {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 54px;
    padding-bottom: 72px;
  }

  .your-photo__wrapper {
    display: block;
    width: auto;
    min-height: 511px;
    background-color: #f2f2f2;
  }

  .your-photo__wrapper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    //width: 660px;
    min-height: 511px;
    margin: 0 auto;
    padding: 0;
    padding-top: 57px;
    padding-bottom: 54px;
    /*временно для сетки*/
    outline: 2px solid green;
  }

  .your-photo__button-wrapper {
    margin: 0;
    padding: 0;
    /*временно для сетки*/
    outline: 2px solid red;
  }
}

@media (min-width: @desktop-width) {
  .your-photo {
    display: block;
    margin: 0;
    padding: 0;
  }

  .your-photo__wrapper {
    display: block;
    width: 942px;
    min-height: 517px;
    margin: 0 auto;
    padding: 0;
    /*временно для сетки*/
    outline: 2px solid red;
  }

  .your-photo__description-wrapper {
    display: block;
    width: auto;
    min-height: 137px;
    margin: 0;
    //margin-top: -65px;
    padding: 0;
    /*временно для сетки*/
    outline: 2px solid green;
  }

  .your-photo__description {
    display: block;
    width: 460px;
    min-height: 47px;
    margin: 0 auto;
    padding: 0;
    text-align: none;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    //padding-left: 261px;
    //padding-right: 261px;
    //padding-top: 68px;
    //padding-bottom: 69px;
    /*временно для сетки*/
    outline: 2px solid red;
  }

  .your-photo__wrapper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    min-height: 400px;
    margin: 0;
    margin-left: 82px;
    //margin: 0 auto;
    padding: 0;
    //padding-left: 82px;
    padding-top: 57px;
    padding-bottom: 54px;
    /*временно для сетки*/
    outline: 2px solid green;
  }

  .your-photo__button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 410px;
    margin: 0;
    padding: 0;
    /*временно для сетки*/
    outline: 2px solid red;
  }

  .your-photo__image {
    display: block;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 400px;
  }

  .your-photo__button {
    width: 183px;
    height: 55px;
  }
}
