.your-photo__description-wrapper {
  display: block;
  width: auto;
  min-height: 152px;
  margin: 0;
  padding: 0;
  /*временно для сетки*/
  //outline: 2px solid green;
}

.your-photo__description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  padding-top: 20px;
  /*временно для сетки*/
  //outline: 2px solid red;
}

.your-photo__description {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  /*временно для сетки*/
  //outline: 2px solid red;
}

.your-photo__wrapper {
  display: block;
  width: 320px;
  min-height: 758px;
  background-color: #f2f2f2;
}

.your-photo__wrapper-container {
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 758px;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
  /*временно для сетки*/
  //outline: 2px solid green;
}

.your-photo__image {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.your-photo__controls {
  display: block;
  min-height: 163px;
  padding: 0;
  margin: 0;
  //временно для сетки
  //outline: 2px solid blue;
}

.your-photo__filters {
  display: flex;
  flex-direction: column;
  //width: 243px;
  margin: 0 auto;
  min-height: 163px;
  //временно для сетки
  //outline: 2px solid red;
}

.your-photo__pictureform-buttons-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 34px;
  min-height: 100px;
  width: 243px;
  align-items: center;
  //временно для сетки
  //outline: 2px solid blue;
}

.your-photo__pictureform-button {
  width: 44px;
  height: 49px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border-style: none;
  outline: none;
  cursor: pointer;
}

.your-photo__pictureform-button-image {
  width: 48px;
  height: 48px;
  fill: #b5b9be;

  &:hover {
    fill: #8d949b;
  }

  &:active {
    fill: #d22856;
  }
}

.your-photo__pictureform-button-image--crop {
  padding-left: 3px;
}

.your-photo__pictureform-button--active {
  fill: #d22856;
}

.your-photo__pictureform-button-image--contrast {
  width: 32px;
  height: 32px;
}

.your-photo__ranges-list {
  margin: 0;
  padding: 0;
  padding-top: 27px;
}

/*.your-photo__ranges-item {
  position: relative;
  display: none;
}*/

.your-photo__ranges-item--fill {
  display: none;
}

.your-photo__ranges-item--contrast {
  display: none;
}

.your-photo__ranges-item--crop::after {
  content: "";
  position: absolute;
  top: 35px;
  left: -41px;
  width: 320px;
  height: 2px;
  background-color: rgba(40, 54, 69, 0.1);
}

.your-photo__ranges-item--crop {
  position: relative;
  display: flex;
  align-items: center;
  width: 242px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  //временно для сетки
  //outline: 2px solid blue;
}

.your-photo__range-bar {
  width: 100%;
  height: 2px;
  background: #283645;
}

.your-photo__range-toggle {
  width: 14px;
  height: 15px;
  background: #f2f2f2;
  border: 2px solid #d22856;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;

  &:hover {
    background-color: #d22856;
  }
}

.your-photo__range-toggle--crop {
  position: absolute;
  top: -7px;
  right: 35px;
}

.your-photo__button-wrapper {
  display: block;
  width: auto;
  padding: 0;
  //padding: 20px 0;
  padding-top: 50px;
  //padding-right: 20px;
  margin: 0;
  /*временно для сетки*/
  //outline: 2px solid red;
}

.your-photo__button {
  display: block;
  width: 281px;
  height: 55px;
  border-radius: 50px;
  cursor: pointer;
}

.your-photo__btn-upload {
  background-color: transparent;
  border: 3px solid #d22856;
  border-radius: 50px;
  color: #d22856;

  &:hover {
    background-color: #d22856;
    color: #ffffff;
  }

  &:focus {
    background-color: #d22856;
    color: #ffffff;
  }

  &:active {
    background-color: #d22856;
    color: rgba(255, 255, 255, 0.3);
  }
}

.your-photo__btn-reset {
  width: 100%;
  background-color: transparent;
  color: rgba(40, 54, 69, 0.1);
  border: 3px solid rgba(40, 54, 69, 0.1);

  &:hover {
    border: 3px solid rgba(40, 54, 69, 0.3);
    color: rgba(40, 54, 69, 0.3);
  }

  &:focus {
    border: 3px solid rgba(40, 54, 69, 0.3);
    color: rgba(40, 54, 69, 0.3);
  }

  &:active {
    background-color: rgba(40, 54, 69, 0.3);
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .your-photo__description-wrapper {
    display: block;
    width: auto;
    min-height: 172px;
    margin: 0;
    //margin-top: -65px;
    padding: 0;
    /*временно для сетки*/
    //outline: 2px solid green;
  }

  .your-photo__description-container {
    display: flex;
    flex-direction: column;
    width: 460px;
    min-height: 47px;
    //margin: 0 auto;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    //padding-left: 261px;
    //padding-right: 261px;
    padding-top: 45px;
    //padding-left: 10px;
    //padding-bottom: 69px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .your-photo__description {
    display: block;
    width: 460px;
    //min-height: 47px;
    //margin: 0 auto;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    //padding-left: 261px;
    //padding-right: 261px;
    //padding-top: 10px;
    //padding-bottom: 69px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .your-photo__wrapper {
    display: block;
    width: auto;
    min-height: 511px;
    background-color: #f2f2f2;
  }

  .your-photo__wrapper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    //width: 660px;
    min-height: 511px;
    margin: 0 auto;
    padding: 0;
    padding-top: 57px;
    padding-bottom: 54px;
    /*временно для сетки*/
    //outline: 2px solid green;
  }

  .your-photo__image {
    display: block;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 400px;
  }

  .your-photo__button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    padding-top: 58px;
    min-height: 135px;
    //padding-right: 10px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .your-photo__button {
    display: block;
    margin: 0;
    padding: 0;
    width: 260px;
    height: 55px;
  }

  .your-photo__pictureform-form-wrapper {
    display: flex;
    //position: relative;
    //display: flex;
    flex-direction: row;
    justify-content: space-between;
    //margin: 0 auto;
    //padding-top: 34px;
    min-height: 190px;
    width: 274px;
    //align-items: left;
    //временно для сетки
    //outline: 2px solid blue;
  }

  .your-photo__pictureform-buttons-list {
    //display: block;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    //margin: 0 auto;
    //padding-top: 34px;
    min-height: 168px;
    width: 30px;
    margin: 0;
    margin-right: auto;
    padding: 0;
    //padding-top: 30px;
    //align-items: left;
    //временно для сетки
    //outline: 2px solid red;
  }

  .your-photo__pictureform-button-image {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 24px;
    fill: #d22856;

    &:hover {
      fill: #8d949b;
    }

    &:active {
      fill: #d22856;
    }
  }

  .your-photo__pictureform-button-image--crop {
    display: block;
    position: absolute;
    top: 5px;
    left: 1px;
    //padding: 0;
    //padding-left: 5px;
    //padding-top: -15px;
    //padding-bottom: 10px;
  }

  .your-photo__pictureform-button--active {
    fill: #d22856;
  }

  .your-photo__pictureform-button-image--contrast {
    display: block;
    position: absolute;
    top: 153px;
    left: 10px;
    width: 17px;
    height: 17px;
  }

  .your-photo__ranges-list {
    position: relative;
    margin: 0;
    padding: 0;
    width: 203px;
    //padding-top: 27px;
    //outline: 2px solid red;
  }

  .your-photo__ranges-item--active {
    display: flex;
  }

  .your-photo__ranges-item--crop {
    position: relative;
    display: flex;
    align-items: center;
    width: 202px;
    margin: 0;
    padding: 0;
    top: 17px;
    right: 12px;
    box-sizing: border-box;
    //временно для сетки
    //outline: 2px solid blue;
  }

  .your-photo__ranges-item {
    display: block;
  }

  .your-photo__ranges-item--fill {
    display: flex;
    position: absolute;
    //position: relative;
    width: 202px;
    top: 89px;
    right: 12px;
    box-sizing: border-box;
  }

  .your-photo__ranges-item--crop::after {
    content: "";
    position: absolute;
    top: 35px;
    left: -63px;
    width: 275px;
    //height: 2px;
    //background-color: rgba(40, 54, 69, 0.1);
  }

  .your-photo__ranges-item--fill::after {
    content: "";
    position: absolute;
    top: 35px;
    left: -63px;
    width: 275px;
    height: 2px;
    background-color: rgba(40, 54, 69, 0.1);
  }

  .your-photo__ranges-item--contrast::after {
    content: "";
    position: absolute;
    top: 35px;
    left: -63px;
    width: 275px;
    height: 2px;
    background-color: rgba(40, 54, 69, 0.1);
  }

  .your-photo__ranges-item--contrast {
    display: flex;
    position: absolute;
    width: 202px;
    top: 159px;
    right: 12px;
    box-sizing: border-box;
  }

  /*.your-photo__range-toggle {
    //position: static;
    //top: -7px;
    //right: 35px;
    /*width: 14px;
    height: 15px;
    background: #f2f2f2;
    border: 2px solid #d22856;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;

    &:hover {
      background-color: #d22856;
    }
  }*/

  .your-photo__range-toggle--crop {
    position: absolute;
    right: 44px;
  }

  .your-photo__range-toggle--fill {
    position: absolute;
    top: -7px;
    left: 26px;
  }

  .your-photo__range-toggle--contrast {
    position: absolute;
    top: -7px;
    left: 93px;
  }
}

@media (min-width: @desktop-width) {
  .your-photo {
    display: block;
    margin: 0;
    padding: 0;
  }

  .your-photo__wrapper {
    display: block;
    width: 942px;
    min-height: 517px;
    margin: 0 auto;
    padding: 0;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .your-photo__description-wrapper {
    display: block;
    width: auto;
    min-height: 137px;
    margin: 0;
    //margin-top: -65px;
    padding: 0;
    /*временно для сетки*/
    //outline: 2px solid green;
  }

  .your-photo__description-container {
    display: flex;
    flex-direction: column;
    width: 460px;
    min-height: 47px;
    //margin: 0 auto;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    //padding-left: 261px;
    //padding-right: 261px;
    padding-top: 10px;
    //padding-left: 10px;
    //padding-bottom: 69px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .your-photo__description {
    display: block;
    width: 460px;
    //min-height: 47px;
    //margin: 0 auto;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    //padding-left: 261px;
    //padding-right: 261px;
    //padding-top: 10px;
    //padding-bottom: 69px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .your-photo__wrapper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    min-height: 400px;
    margin: 0;
    margin-left: 82px;
    //margin: 0 auto;
    padding: 0;
    //padding-left: 82px;
    padding-top: 57px;
    padding-bottom: 54px;
    /*временно для сетки*/
    //outline: 2px solid green;
  }

  .your-photo__button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 410px;
    margin: 0;
    padding: 0;
    padding-top: 140px;
    /*временно для сетки*/
    //outline: 2px solid red;
  }

  .your-photo__image {
    display: block;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 400px;
  }

  .your-photo__button {
    width: 183px;
    height: 55px;
  }

  .your-photo__pictureform-form-wrapper {
    display: flex;
    //position: relative;
    //display: flex;
    flex-direction: row;
    justify-content: space-between;
    //margin: 0 auto;
    //padding-top: 34px;
    min-height: 190px;
    width: 385px;
    //align-items: left;
    //временно для сетки
    //outline: 2px solid blue;
  }

  .your-photo__pictureform-buttons-list {
    //display: block;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    //margin: 0 auto;
    //padding-top: 34px;
    min-height: 168px;
    width: 60px;
    margin: 0;
    //margin-right: auto;
    padding: 0;
    //padding-top: 30px;
    //align-items: left;
    //временно для сетки
    //outline: 2px solid red;
  }

  .your-photo__pictureform-button-image {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    fill: #d22856;

    &:hover {
      fill: #8d949b;
    }

    &:active {
      fill: #d22856;
    }
  }

  .your-photo__pictureform-button-image--crop {
    display: block;
    position: absolute;
    top: -5px;
    left: 1px;
    //padding: 0;
    //padding-left: 5px;
    //padding-top: -15px;
    //padding-bottom: 10px;
  }

  .your-photo__pictureform-button--active {
    fill: #d22856;
  }

  .your-photo__pictureform-button-image--contrast {
    display: block;
    position: absolute;
    top: 146px;
    left: 8px;
    width: 34px;
    height: 34px;
  }

  .your-photo__pictureform-button-image--fill {
    display: block;
    position: absolute;
    top: 70px;
    left: 1px;
  }

  .your-photo__ranges-list {
    position: relative;
    display: block;
    margin: 0;
    margin-left: auto;
    padding: 0;
    width: 292px;
    //padding-top: 27px;
    //outline: 2px solid black;
  }

  .your-photo__ranges-item--active {
    display: flex;
  }


  .your-photo__ranges-item {
    display: block;
  }

  .your-photo__ranges-item--crop {
    //position: relative;
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 17px;
    right: 1px;
    box-sizing: border-box;
    //временно для сетки
    //outline: 2px solid blue;
  }

  .your-photo__range-toggle--crop {
    position: absolute;
    left: 74px;
    top: -7px;
  }

  .your-photo__ranges-item--crop::after {
    content: "";
    position: absolute;
    top: 37px;
    left: -90px;
    width: 410px;
    //height: 2px;
    //background-color: rgba(40, 54, 69, 0.1);
  }

  .your-photo__ranges-item--fill {
    display: flex;
    position: absolute;
    //position: relative;
    width: 100%;
    top: 91px;
    right: 1px;
    box-sizing: border-box;
  }

  .your-photo__range-toggle--fill {
    position: absolute;
    top: -7px;
    left: 250px;
  }

  .your-photo__ranges-item--fill::after {
    content: "";
    position: absolute;
    top: 37px;
    right: 1px;
    left: -90px;
    width: 410px;
    //height: 2px;
    //background-color: rgba(40, 54, 69, 0.1);
  }

  .your-photo__ranges-item--contrast {
    display: flex;
    position: absolute;
    width: 100%;
    top: 161px;
    right: 1px;
    box-sizing: border-box;
  }

  .your-photo__ranges-item--contrast::after {
    content: "";
    position: absolute;
    top: 35px;
    left: -90px;
    width: 410px;
  }

  .your-photo__range-toggle--contrast {
    position: absolute;
    top: -7px;
    left: 163px;
  }
}
