html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "OpenSans", "Arial", sans-serif;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input, textarea {
  font-family: "OpenSans", "Arial", sans-serif;
  color: #283645;
}

input::-webkit-input-placeholder {
  color: #283645;
}

input:-moz-placeholder {
  color: #283645;
}

textarea:-moz-placeholder {
  color: #283645;
}
